body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: linear-gradient(to right,#00ff00,#ff0000);
}

h1{
    
    font-size: 4em;
    letter-spacing: .3em;
}

h3{  
	font: 900 1.5em 'Raleway','sans-serif';
}